# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL
DATABASE_URL="postgresql://postgres:sua_senha_aqui@localhost:5432/pesquisa_mercado?schema=public"

# Configurações da API Evolution (WhatsApp)
EVOLUTION_API_URL=https://evolution-api-evolution.ynaped.easypanel.host/
EVOLUTION_API_KEY=^8^r2GQfnJ7hU$F9^pdai3
EVOLUTION_INSTANCE=CA8A6DD25FEC-4640-9807-ED91AF4C2372

# Configurações de Segurança
JWT_SECRET=seu_jwt_secret_aqui
CORS_ORIGIN=http://localhost:5174

# Configurações de Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
